doctype html
html
    h1 Selamat Datang di Express JS
    img(src='/images/Lambo.jpg', width='400')
    a(href='https://www.lamborghini.com/en-en',
    targer='blank') Lamborgini

    h2 Nama saya #{Muhammad Aldiansyah}
    h2 NPM #{2125240113}